Repository it-at-m/refarch, changes with the labels that .github/labeler.yml gives for each.
All labels: Component: API-Gateway, Component: Integrations, Component: Tools, Component: CLI

:arrow_up: integrations use pmd module and pmd 3.26
  refarch-integrations/pom.xml
Labels: Component: Integrations

:arrow_up: integrations pmd use new junit warning names
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/DMSErrorHandlerTest.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapterTest.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft/refarch-dms-integration-fabasoft-mock-service/src/test/java/de/muenchen/refarch/integration/dms/fabasoft/mock/service/ExampleTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/application/usecase/FileOperationsPresignedUrlUseCaseTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/test/java/de/muenchen/refarch/integration/s3/configuration/nfcconverter/NfcHelperTest.java
Labels: Component: Integrations

:wrench: pmd exclude rules for many imports
  refarch-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Component: Tools

:wrench: pmd exclude rules for param count gt 3
  refarch-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Component: Tools

:rotating_light: integrations suppress instead of exclude warnings
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapter.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/application/port/in/CreateProcedureInPort.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/application/port/in/SearchFileInPort.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/application/port/out/SearchFileOutPort.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/application/usecase/CreateProcedureUseCase.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/application/usecase/SearchFileUseCase.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapterTest.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-starter/src/main/java/de/muenchen/refarch/integration/dms/configuration/DmsAutoConfiguration.java
  refarch-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Component: Integrations, Component: Tools

:wrench: pmd revert exclude some design rules
  refarch-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Component: Tools

Maint/pmd update rules (#248)
  refarch-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Component: Tools

[maven-release-plugin] prepare for next development iteration
  refarch-tools/pom.xml
  refarch-tools/refarch-pmd/pom.xml
Labels: Component: Tools

[maven-release-plugin] prepare release refarch-tools-1.0.1
  refarch-tools/pom.xml
  refarch-tools/refarch-pmd/pom.xml
Labels: Component: Tools

:arrow_up: integrations use pmd conf v1.0.1
  refarch-integrations/pom.xml
Labels: Component: Integrations

:truck: Moved java based refarch tools to subdirectory refarch-java-tools
  .github/workflows/build_tools.yaml
  .github/workflows/codeql.yaml
  .github/workflows/release.yaml
  refarch-tools/refarch-java-tools/pom.xml
  refarch-tools/refarch-java-tools/refarch-pmd/pom.xml
  refarch-tools/refarch-java-tools/refarch-pmd/src/main/java/de/muenchen/refarch/tools/pmd/PmdConfiguration.java
  refarch-tools/refarch-java-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Component: Tools

:wrench: Added shareable renovate configuration for refarch-based projects
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
  renovate.json5
Labels: Component: Tools

:speech_balloon: Updated configuration description
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Component: Tools

:recycle: pom reorder pmd module
  refarch-gateway/pom.xml
  refarch-integrations/pom.xml
Labels: Component: API-Gateway, Component: Integrations

:recycle: s3 refactor test instead suppressing
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/application/usecase/FileOperationsPresignedUrlUseCaseTest.java
Labels: Component: Integrations

:recycle: s3 use import for assert methods
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/test/java/de/muenchen/refarch/integration/s3/client/repository/transfer/S3FileTransferRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/adapter/out/s3/S3AdapterTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/application/usecase/FileOperationsPresignedUrlUseCaseTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/application/usecase/FolderOperationsUseCaseTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/presignedurl/PresignedUrlRestRepositoryTest.java
Labels: Component: Integrations

:recycle: integrations supress serial for exceptions
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/domain/exception/DmsException.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/exception/LoadAttachmentError.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/exception/TemplateError.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/DocumentStorageClientErrorException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/DocumentStorageException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/DocumentStorageServerErrorException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/FileSizeValidationException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/FileTypeValidationException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/NoFileTypeException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/exception/PropertyNotSetException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/main/java/de/muenchen/refarch/integration/s3/domain/exception/FileExistenceException.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/main/java/de/muenchen/refarch/integration/s3/domain/exception/FileSystemAccessException.java
Labels: Component: Integrations

:recycle: dms use english and use assert instead of suppressing for test
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/DMSErrorHandlerTest.java
Labels: Component: Integrations

:fire: dms rm unnecessary supress
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapterTest.java
Labels: Component: Integrations

:recycle: dms use assert instead of suppressing for test
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapterTest.java
Labels: Component: Integrations

:fire: dms rm unnecessary supress
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft/refarch-dms-integration-fabasoft-mock-service/src/test/java/de/muenchen/refarch/integration/dms/fabasoft/mock/service/ExampleTest.java
Labels: Component: Integrations

:pencil2: dms fix class name typo
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapterTest.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft/refarch-dms-integration-fabasoft-mock-service/src/test/java/de/muenchen/refarch/integration/dms/fabasoft/mock/service/ExampleTest.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft/refarch-dms-integration-fabasoft-mock/src/main/java/de/muenchen/refarch/integration/dms/fabasoft/mock/FabasoftClientFactory.java
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft/refarch-dms-integration-fabasoft-mock/src/test/java/de/muenchen/refarch/integration/dms/fabasoft/mock/ExampleTest.java
Labels: Component: Integrations

:recycle: integrations supress serial
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/main/java/de/muenchen/refarch/integration/s3/client/domain/model/SupportedFileExtensions.java
Labels: Component: Integrations

:art: format spotless
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/fabasoft/FabasoftAdapterTest.java
Labels: Component: Integrations

:recycle: dms refactor exception encapsulation
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/main/java/de/muenchen/refarch/integration/dms/adapter/out/s3/S3Adapter.java
Labels: Component: Integrations

:green_heart: codeql disable js
  .github/workflows/codeql.yaml
Labels: none

:recycle: dms refactor exception encapsulation fix test
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/adapter/out/s3/S3AdapterTest.java
Labels: Component: Integrations

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', '-feature-' ]
"Type: Bug":
  - head-branch: [ '^bug', '-bug-' ]
"Type: Maintenance":
  - head-branch: [ '^maint', '^refact', '-maintenance-' ]
"Type: Documentation":
  - head-branch: [ '^docs', '-documentation-' ]
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**' ]
"Type: Dependency":
  - head-branch: [ '^dep', '-dependency-' ]
"Type: Security":
  - head-branch: [ '^sec', '-security-' ]
"Component: API-Gateway":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-gateway/**' ]
"Component: Integrations":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-integrations/**' ]
"Component: Tools":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-tools/**' ]
"Component: CLI":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-cli/**' ]
