Repository it-at-m/refarch, changes with the labels that .github/labeler.yml gives for each.
All labels: Component: API-Gateway, Component: Integrations, Component: CLI

.github/labeler.yml:

"Type: Feature":
  - head-branch: [ '^feat', 'feature' ]
"Type: Bug":
  - head-branch: [ '^bug', 'bug' ]
"Type: Maintenance":
  - head-branch: [ '^maint', 'maintenance', '^refact' ]
"Type: Documentation":
  - head-branch: [ '^docs', "documentation" ]
  - changed-files:
      - any-glob-to-any-file: [ 'docs/**' ]
"Type: Dependency":
  - head-branch: [ '^dep', 'dependency' ]
"Type: Security":
  - head-branch: [ '^sec', 'security' ]
"Component: API-Gateway":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-gateway/**' ]
"Component: Integrations":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-integrations/**' ]
"Component: CLI":
  - changed-files:
      - any-glob-to-any-file: [ 'refarch-cli/**' ]

:construction_worker: ci build always
  .github/workflows/build_gateway.yaml
  .github/workflows/build_integrations.yaml
Labels: none

:construction_worker: ci split release note by module
  .github/release.yml
Labels: none

:recycle: ci extract build image to separate action
  .github/actions/build-image/action.yaml
  .github/workflows/maven.yaml
Labels: none

:recycle: ci extract build image to separate action
  .github/workflows/maven.yaml
Labels: none

:recycle: ci split build for modules
  .github/workflows/maven.yaml
Labels: none

[maven-release-plugin] prepare release refarch-integrations-1.1.0-RC3
  refarch-integrations/pom.xml
  refarch-integrations/refarch-s3-integration/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-starter/pom.xml
Labels: Component: Integrations

[maven-release-plugin] prepare for next development iteration
  refarch-integrations/pom.xml
  refarch-integrations/refarch-s3-integration/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-starter/pom.xml
Labels: Component: Integrations

added rollup config
  refarch-cli/.eslintrc.cjs
  refarch-cli/index.ts
  refarch-cli/package-lock.json
  refarch-cli/package.json
  refarch-cli/rollup.config.js
  refarch-cli/tsconfig.json
Labels: Component: CLI

:construction_worker: ci image build default registry
  .github/actions/build-image/action.yaml
Labels: none

:recycle: ci extract maven build to action
  .github/actions/build-maven/action.yaml
  .github/workflows/maven.yaml
Labels: none

:recycle: ci extract maven build to action use
  .github/workflows/build_gateway.yaml
  .github/workflows/build_integrations.yaml
  .github/workflows/maven.yaml
  .github/workflows/release.yaml
Labels: none

:bug: ci mv checkout from action to workflow
  .github/actions/build-image/action.yaml
  .github/actions/build-maven/action.yaml
  .github/workflows/build_gateway.yaml
  .github/workflows/build_integrations.yaml
  .github/workflows/release.yaml
Labels: none

:bug: ci maven build action fix typo
  .github/actions/build-maven/action.yaml
Labels: none

:bug: ci maven build action fix typo
  .github/actions/build-maven/action.yaml
Labels: none

:bulb: ci add names for used actions
  .github/workflows/build_gateway.yaml
  .github/workflows/build_integrations.yaml
  .github/workflows/release.yaml
Labels: none

:bug: ci maven build action bool as string
  .github/actions/build-maven/action.yaml
Labels: none

[maven-release-plugin] prepare for next development iteration
  refarch-integrations/pom.xml
  refarch-integrations/refarch-s3-integration/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-starter/pom.xml
Labels: Component: Integrations

[maven-release-plugin] prepare release refarch-integrations-1.1.0-RC4
  refarch-integrations/pom.xml
  refarch-integrations/refarch-s3-integration/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-core/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-starter/pom.xml
Labels: Component: Integrations

fixed wrong switch and duplicate
  refarch-cli/index.ts
Labels: Component: CLI

:heavy_plus_sign: gateway add maven-release-plugin
  refarch-gateway/pom.xml
Labels: Component: API-Gateway

fixed typos
  refarch-cli/index.ts
Labels: Component: CLI

:bug: gateway skip deploy
  refarch-gateway/pom.xml
Labels: Component: API-Gateway

[maven-release-plugin] prepare release refarch-gateway-1.1.0-RC1
  refarch-gateway/pom.xml
Labels: Component: API-Gateway

[maven-release-plugin] prepare for next development iteration
  refarch-gateway/pom.xml
Labels: Component: API-Gateway
