Repository it-at-m/refarch, pull requests merged in 2024-08, with the labels that each got.

#44 :recycle: rename pom vars
  refarch-gateway/pom.xml
Labels: refactoring

#51 Refactor/cleanup gateway pom
  refarch-gateway/checkstyle.xml
  refarch-gateway/pom.xml
Labels: refactoring

#54 :boom: gateway rename json logging profile
  refarch-gateway/src/main/resources/logback-spring.xml
Labels: BREAKING

#53 Feature/labels add breaking
  .github/labeler.yml
  .github/release.yml
Labels: feature

#62 :construction_worker: use jdk runtime image
  refarch-gateway/Dockerfile
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-service/Dockerfile
Labels: refactoring

#59 Refactor/s3 client rm url override
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/configuration/S3IntegrationClientAutoConfiguration.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/main/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFileRepository.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/main/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFolderRepository.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/main/java/de/muenchen/refarch/integration/s3/client/repository/presignedurl/PresignedUrlRepository.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/main/java/de/muenchen/refarch/integration/s3/client/service/ApiClientFactory.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/main/java/de/muenchen/refarch/integration/s3/client/service/S3DomainProvider.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/main/java/de/muenchen/refarch/integration/s3/client/service/S3StorageUrlProvider.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFileRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFolderRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/presignedurl/PresignedUrlRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client/src/test/java/de/muenchen/refarch/integration/s3/client/service/S3StorageUrlProviderTest.java
Labels: refactoring

#66 Feature/s3 init docs
  README.md
  refarch-integrations/README.md
  refarch-integrations/refarch-s3-integration/README.md
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/configuration/S3IntegrationClientAutoConfiguration.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/factory/YamlPropertySourceFactory.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/resources/application.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application-local.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application.yml
Labels: feature

#61 :memo: gateway document features
  refarch-gateway/README.md
Labels: feature

#67 Bug/s3 fix beans
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/refarch-s3-integration-java-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/configuration/S3IntegrationClientAutoConfiguration.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/configuration/S3IntegrationClientAutoConfiguration.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/resources/application-s3-client.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/main/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFileRestRepository.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/main/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFolderRestRepository.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/main/java/de/muenchen/refarch/integration/s3/client/repository/presignedurl/PresignedUrlRestRepository.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-starter/src/main/java/de/muenchen/refarch/integration/s3/configuration/S3IntegrationAutoConfiguration.java
Labels: bug

#70 Feature/integration release
  .github/workflows/maven.yaml
  pom.xml
  refarch-gateway/pom.xml
  refarch-integrations/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/main/java/de/muenchen/refarch/integration/s3/application/port/in/CreatePresignedUrlsInPort.java
Labels: feature

#69 Feature/setup dev stack
  .gitignore
  .run/ApiGatewayApplication.run.xml
  .run/S3IntegrationApplication.run.xml
  stack/docker-compose-refarch-base.yml
  stack/docker-compose.yml
  stack/keycloak/migration/01_init-realm.yml
  stack/keycloak/migration/02_add-clients.yml
  stack/keycloak/migration/03_add-user.yml
  stack/keycloak/migration/04_client-service-account.yml
  stack/keycloak/migration/keycloak-changelog.yml
Labels: feature

#72 :bug: ci fix s3-integration-rest-service image build
  .github/workflows/maven.yaml
Labels: bug

#76 Refactor/cleanup gateway
  .run/ApiGatewayApplication.run.xml
  refarch-gateway/src/main/resources/application-local.yml
  refarch-gateway/src/main/resources/application-no-security.yml
  refarch-gateway/src/main/resources/logback-spring.xml
  refarch-integrations/refarch-s3-integration/README.md
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/resources/application-s3-client.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application-local.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application.yml
Labels: refactoring

#79 :bug: root pom fix missing release properties
  pom.xml
Labels: bug

#81 Bug/fix release
  .github/workflows/maven.yaml
  .github/workflows/release.yaml
Labels: bug

#95 Maint/94 add welcome bot configuration
  .github/CODE_OF_CONDUCT.md
  .github/README.md
  .github/config.yml
  .github/workflows/pr_labeler.yaml
Labels: Type: Maintenance

#97 :memo: Add new issue templates
  .github/ISSUE_TEMPLATE/1-bug-report.yml
  .github/ISSUE_TEMPLATE/2-feature-request.yml
  .github/ISSUE_TEMPLATE/3-maintenance-work.yml
  .github/ISSUE_TEMPLATE/4-documentation-change.yml
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Type: Maintenance

#101 Maint/99 maintenance change development stack docker image versions to pinned versions instead of latest
  stack/docker-compose-refarch-base.yml
  stack/docker-compose.yml
Labels: Type: Maintenance
