Repository it-at-m/refarch, pull requests merged in 2024-11, with the labels that each got.

#248 Maint/pmd update rules
  refarch-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Type: Maintenance, Component: Tools

#251 Maint/250 maintenance provide a shareable renovate configuration
  .github/workflows/build_tools.yaml
  .github/workflows/codeql.yaml
  .github/workflows/release.yaml
  refarch-tools/refarch-java-tools/pom.xml
  refarch-tools/refarch-java-tools/refarch-pmd/pom.xml
  refarch-tools/refarch-java-tools/refarch-pmd/src/main/java/de/muenchen/refarch/tools/pmd/PmdConfiguration.java
  refarch-tools/refarch-java-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
  renovate.json5
Labels: Type: Maintenance, Component: Tools

#256 :heavy_minus_sign: refarch-java-tools rm spring parent
  refarch-tools/refarch-java-tools/pom.xml
Labels: Type: Maintenance, Component: Tools

#257 :recycle: refarch renovate configuration to extend central config
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Maintenance, Component: Tools

#259 Update dependency_review.yaml
  .github/workflows/dependency_review.yaml
Labels: Type: Maintenance

#134 Feature/init cosys integration
  refarch-integrations/README.md
  refarch-integrations/pom.xml
  refarch-integrations/refarch-cosys-integration/README.md
  refarch-integrations/refarch-cosys-integration/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-client/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-client/src/main/api/api-docs.json
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/adapter/out/cosys/CosysAdapter.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/adapter/out/cosys/FileUtils.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/adapter/out/s3/S3Adapter.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/application/port/in/CreateDocumentInPort.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/application/port/out/GenerateDocumentOutPort.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/application/port/out/SaveFileToStorageOutPort.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/application/usecase/CreateDocumentUseCase.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/configuration/CosysConfiguration.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/domain/exception/CosysException.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/main/java/de/muenchen/refarch/integration/cosys/domain/model/GenerateDocument.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/test/java/de/muenchen/refarch/integration/cosys/adapter/out/cosys/CosysAdapterTest.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/test/java/de/muenchen/refarch/integration/cosys/adapter/out/s3/S3AdapterTest.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/test/java/de/muenchen/refarch/integration/cosys/application/usecase/CreateDocumentUseCaseTest.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/src/test/resources/logback-test.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/src/main/java/de/muenchen/refarch/integration/cosys/example/CosysExampleApplication.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/src/main/java/de/muenchen/refarch/integration/cosys/example/NoSecurityConfiguration.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/src/main/java/de/muenchen/refarch/integration/cosys/example/api/controller/ExampleController.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/src/main/resources/application-example.yml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/src/main/resources/examples.http
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-starter/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-starter/src/main/java/de/muenchen/refarch/integration/cosys/configuration/CosysAutoConfiguration.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-starter/src/main/java/de/muenchen/refarch/integration/cosys/configuration/CosysProperties.java
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: Component: Integrations, Type: Feature

#267 Added Rule for Test-Naming convention
  refarch-tools/refarch-java-tools/refarch-pmd/src/main/resources/refarch-pmd-ruleset.xml
Labels: Type: Maintenance, Component: Tools

#268 :bug: pom add missing url
  refarch-gateway/pom.xml
  refarch-integrations/pom.xml
  refarch-tools/refarch-java-tools/pom.xml
Labels: Component: API-Gateway, Component: Integrations, Type: Bug, Component: Tools

#136 Feature/init address integration
  refarch-integrations/README.md
  refarch-integrations/pom.xml
  refarch-integrations/refarch-address-integration/README.md
  refarch-integrations/refarch-address-integration/pom.xml
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/apidoc/api-docs.json
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/pom.xml
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/api/AddressGermanyApi.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/api/AddressMunichApi.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/api/StreetsMunichApi.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/exception/AddressServiceIntegrationClientErrorException.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/exception/AddressServiceIntegrationException.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/exception/AddressServiceIntegrationServerErrorException.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/impl/AddressGermanyImpl.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/impl/AddressesMunichImpl.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/impl/ExceptionHandler.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/impl/StreetsMunichImpl.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/CheckAddressesModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/ListAddressChangesModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/ListAddressesModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/ListStreetsModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/SearchAddressesGeoModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/SearchAddressesGermanyModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/request/SearchAddressesModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/main/java/de/muenchen/refarch/integration/address/client/model/response/AddressDistancesModel.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/test/java/de/muenchen/refarch/integration/address/client/impl/AddressGermanyImplTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/test/java/de/muenchen/refarch/integration/address/client/impl/AddressMunichImplTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/src/test/java/de/muenchen/refarch/integration/address/client/impl/StreetsMunichImplTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/pom.xml
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/adapter/out/address/AddressClientOutAdapter.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/port/in/AddressGermanyInPort.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/port/in/AddressMunichInPort.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/port/in/StreetsMunichInPort.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/port/out/AddressClientOutPort.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/usecase/AddressesGermanyUseCase.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/usecase/AddressesMunichUseCase.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/main/java/de/muenchen/refarch/integration/address/application/usecase/StreetsMunichUseCase.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/test/java/de/muenchen/refarch/integration/address/adapter/out/address/AddressClientOutAdapterTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/test/java/de/muenchen/refarch/integration/address/application/usecase/AddressesGermanyUseCaseTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/test/java/de/muenchen/refarch/integration/address/application/usecase/AddressesMunichUseCaseTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-core/src/test/java/de/muenchen/refarch/integration/address/application/usecase/StreetsMunichUseCaseTest.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-starter/pom.xml
  refarch-integrations/refarch-address-integration/refarch-address-integration-starter/src/main/java/de/muenchen/refarch/integration/address/configuration/AddressServiceIntegrationAutoConfiguration.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-starter/src/main/java/de/muenchen/refarch/integration/address/properties/AddressServiceIntegrationProperties.java
  refarch-integrations/refarch-address-integration/refarch-address-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: Component: Integrations, Type: Feature

#288 :bug: dms rest-api fix file parameter type
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-rest-api/pom.xml
Labels: Component: Integrations, Type: Bug

#285 Maint/use central ci actions
  .github/actions/build-image/action.yaml
  .github/actions/release-maven/action.yaml
  .github/workflows/build_gateway.yaml
  .github/workflows/build_integrations.yaml
  .github/workflows/build_tools.yaml
  .github/workflows/maven_node_build.yaml
  .github/workflows/release.yaml
Labels: Type: Maintenance

#293 Bug/fix ci image build
  .github/workflows/maven_node_build.yaml
Labels: Type: Bug

#291 Create .coderabbit.yaml
  .coderabbit.yaml
Labels: Type: Maintenance

#297 Maint/295 maintenance align banner configuration with refarch templates
  refarch-gateway/pom.xml
  refarch-gateway/src/main/resources/application.yml
  refarch-gateway/src/main/resources/banner.txt
  refarch-integrations/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/banner.txt
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance
