Repository it-at-m/refarch, pull requests merged in 2024-12, with the labels that each got.

#303 :wrench: rm default Expires response header filter
  refarch-gateway/src/main/resources/application.yml
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/filter/GlobalAuthenticationErrorFilterTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/filter/GlobalBackend5xxTo400MapperTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/filter/GlobalBackendErrorFilterTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/route/BackendRouteTest.java
Labels: Component: API-Gateway, Type: Maintenance

#307 :wrench: Added additional health check configuration
  refarch-gateway/src/main/resources/application.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application.yml
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance

#309 :bug: gateway fix csrf property not settable
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/CsrfProtectionMatcher.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/SecurityProperties.java
Labels: Component: API-Gateway, Type: Bug, Type: Security

#311 :wrench: Simplified configuration yml files
  refarch-gateway/src/main/resources/application.yml
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/filter/GlobalRequestParameterPollutionFilterTest.java
  refarch-gateway/src/test/resources/application-test.yml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/src/main/resources/application-example.yml
  refarch-integrations/refarch-email-integration/refarch-email-integration-java-example/src/main/resources/application-local.yml
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/src/main/resources/application-local.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application-local.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application.yml
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance

#318 :recycle: integrations refactor deprecated catchThrowableOfType
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/src/test/java/de/muenchen/refarch/integration/dms/application/usecase/ReadMetadataUseCaseTest.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/java/de/muenchen/refarch/email/integration/application/usecase/SendMailUseCaseTest.java
Labels: Component: Integrations, Type: Maintenance

#319 Feat/init vitepress docs
  docs/.gitignore
  docs/.npmrc
  docs/.vitepress/config.mts
  docs/api-examples.md
  docs/index.md
  docs/markdown-examples.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Documentation, Type: Feature

#320 :wrench: coderabbit profile chill
  .coderabbit.yaml
Labels: Type: Maintenance

#323 Feat/docs init structure and landingpage
  docs/.prettierignore
  docs/.prettierrc
  docs/.vitepress/config.mts
  docs/.vitepress/theme/LhmThemeExtension.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/logo-lhm.png
  docs/.vitepress/theme/style.css
  docs/dev/index.md
  docs/dev/stack.md
  docs/dev/tools.md
  docs/gateway.md
  docs/index.md
  docs/integrations/index.md
  docs/integrations/s3.md
  docs/overview.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Documentation, Type: Feature

#329 Docs/init overview
  docs/api-examples.md
  docs/markdown-examples.md
  docs/overview.md
Labels: Type: Documentation

#332 Bug/docs fix theme and cleanup
  docs/.vitepress/config.mts
  docs/.vitepress/theme/LhmThemeExtension.vue
  docs/.vitepress/theme/logo-lhm.png
  docs/.vitepress/theme/style.css
  docs/gateway.md
  docs/index.md
  docs/overview.md
  docs/package.json
Labels: Type: Bug, Type: Documentation
