Repository it-at-m/refarch, pull requests merged in 2024-09, with the labels that each got.

#68 Feature/init mail integration
  refarch-integrations/README.md
  refarch-integrations/pom.xml
  refarch-integrations/refarch-email-integration/README.md
  refarch-integrations/refarch-email-integration/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/adapter/out/mail/MailAdapter.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/adapter/out/s3/S3Adapter.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/application/port/in/SendMailInPort.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/application/port/out/LoadMailAttachmentOutPort.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/application/port/out/MailOutPort.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/application/usecase/SendMailUseCase.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/exception/LoadAttachmentError.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/exception/TemplateError.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/model/BasicMail.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/model/TemplateMail.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/main/java/de/muenchen/refarch/email/integration/domain/model/TextMail.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/java/de/muenchen/refarch/email/integration/adapter/out/mail/MailAdapterTest.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/java/de/muenchen/refarch/email/integration/adapter/out/s3/S3AdapterTest.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/java/de/muenchen/refarch/email/integration/application/usecase/SendMailUseCaseTest.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/resources/files/test-logo.png
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/resources/files/test-pdf.pdf
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/resources/files/test-word.docx
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/src/test/resources/logback-test.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-java-example/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-java-example/src/main/java/de/muenchen/refarch/email/integration/EmailJavaExampleApplication.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-java-example/src/main/java/de/muenchen/refarch/email/integration/TestService.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-java-example/src/main/resources/application-local.yml
  refarch-integrations/refarch-email-integration/refarch-email-integration-java-example/src/main/resources/files/test-pdf.pdf
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/src/main/java/de/muenchen/refarch/email/integration/EmailRestExampleApplication.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/src/main/java/de/muenchen/refarch/email/integration/TestService.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/src/main/resources/application-local.yml
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/src/main/resources/files/test-pdf.pdf
  refarch-integrations/refarch-email-integration/refarch-email-integration-starter/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-starter/src/main/java/de/muenchen/refarch/email/integration/configuration/MailAutoConfiguration.java
  refarch-integrations/refarch-email-integration/refarch-email-integration-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  refarch-integrations/refarch-email-integration/refarch-email/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/src/main/java/de/muenchen/refarch/email/api/EmailApi.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/src/main/java/de/muenchen/refarch/email/impl/EmailApiImpl.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/src/main/java/de/muenchen/refarch/email/model/FileAttachment.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/src/main/java/de/muenchen/refarch/email/model/Mail.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/src/test/java/de/muenchen/refarch/email/EmailApiImplTest.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-api/src/test/resources/templates/test-template.ftl
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-starter/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-starter/src/main/java/de/muenchen/refarch/email/configuration/EmailAutoConfiguration.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-starter/src/main/java/de/muenchen/refarch/email/properties/CustomMailProperties.java
  refarch-integrations/refarch-email-integration/refarch-email/refarch-email-starter/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: Component: Integrations, Type: Feature

#118 Refactor/ci split modules
  .github/actions/build-image/action.yaml
  .github/actions/build-maven/action.yaml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/build.yaml
  .github/workflows/build_gateway.yaml
  .github/workflows/build_integrations.yaml
  .github/workflows/maven.yaml
  .github/workflows/release.yaml
  pom.xml
  refarch-gateway/pom.xml
Labels: Component: API-Gateway

#124 Bug/fix release and labeler
  .github/release.yml
  .github/workflows/pr_labeler.yaml
Labels: Type: Bug

#116 :wrench: Pinned OpenJDK runtime images
  refarch-gateway/Dockerfile
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/Dockerfile
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance

#138 Added custom CodeQL workflow
  .github/workflows/codeql.yaml
Labels: Type: Maintenance

#142 :bug: gateway re add missing spring-boot-maven-plugin
  refarch-gateway/pom.xml
Labels: Component: API-Gateway, Type: Bug

#139 Update labeler.yml
  .github/labeler.yml
Labels: Type: Maintenance

#149 :wrench: Updated renovate configuration
  renovate.json5
Labels: Type: Maintenance

#150 add profiles
  refarch-gateway/README.md
Labels: Component: API-Gateway

#151 Fix docs
  refarch-gateway/README.md
Labels: Component: API-Gateway

#147 Fix Bug with setting doucment-storage-url as basePath in ApiClient
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/configuration/S3IntegrationClientAutoConfiguration.java
Labels: Component: Integrations, Type: Bug

#158 :recycle: s3 replace star imports
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-client-core/src/test/java/de/muenchen/refarch/integration/s3/client/service/FileValidationServiceTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/main/java/de/muenchen/refarch/integration/s3/adapter/out/s3/S3Adapter.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/main/java/de/muenchen/refarch/integration/s3/domain/validation/FolderInFilePath.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/adapter/out/s3/S3AdapterTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFileRestRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/DocumentStorageFolderRestRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-core/src/main/java/de/muenchen/refarch/integration/s3/adapter/in/rest/FileController.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-core/src/main/java/de/muenchen/refarch/integration/s3/adapter/in/rest/FolderController.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/java/de/muenchen/refarch/integration/s3/configuration/nfcconverter/NfcHelper.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/java/de/muenchen/refarch/integration/s3/configuration/nfcconverter/NfcRequest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/java/de/muenchen/refarch/integration/s3/security/RequestResponseLoggingFilter.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/test/java/de/muenchen/refarch/integration/s3/configuration/nfcconverter/NfcConverterTest.java
Labels: Component: Integrations, Type: Maintenance

#160 :bug: s3 starter add missing component scan
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-starter/src/main/java/de/muenchen/refarch/integration/s3/configuration/S3IntegrationRestAutoConfiguration.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-starter/src/main/java/de/muenchen/refarch/integration/s3/configuration/S3IntegrationAutoConfiguration.java
Labels: Component: Integrations, Type: Bug

#171 :wrench: Updated docker stack for development of refarch gateway and integrations
  stack/docker-compose-refarch-base.yml
  stack/docker-compose.yml
Labels: Type: Maintenance

#172 Update codeql.yaml
  .github/workflows/codeql.yaml
Labels: Type: Maintenance

#159 :wrench: s3 decouple from spring oauth setup
  refarch-integrations/refarch-email-integration/refarch-email-integration-rest-example/src/main/resources/application-local.yml
  refarch-integrations/refarch-s3-integration/README.md
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/configuration/S3IntegrationClientAutoConfiguration.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/java/de/muenchen/refarch/integration/s3/client/factory/YamlPropertySourceFactory.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client-starter/src/main/resources/application-s3-client.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application-local.yml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/application.yml
Labels: BREAKING, Component: Integrations, Type: Bug

#175 Feature/pmd and spotbugs gateway
  .github/workflows/dependency_review.yaml
  refarch-gateway/pom.xml
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/ApiGatewayApplication.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/CsrfProtectionMatcher.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/NoSecurityConfiguration.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/SecurityConfiguration.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/SecurityProperties.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/SpaServerCsrfTokenRequestHandler.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/WebSessionConfiguration.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/exception/ParameterPollutionException.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/filter/CsrfTokenAppendingHelperFilter.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/filter/DistributedTracingFilter.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/filter/GlobalAuthenticationErrorFilter.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/filter/GlobalBackend5xxTo400Mapper.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/filter/GlobalRequestParameterPollutionFilter.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/TestConstants.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/configuration/SecurityConfigurationTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/controller/ActuatorInfoEndpointTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/filter/GlobalBackend5xxTo400MapperTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/filter/GlobalRequestParameterPollutionFilterTest.java
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/route/BackendRouteTest.java
  shared-files/pmd-ruleset.xml
Labels: Component: API-Gateway, Type: Feature

#176 Maint/fix security alerts
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/main/java/de/muenchen/refarch/integration/s3/domain/validation/FolderInFilePathValidator.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-core/src/test/java/de/muenchen/refarch/integration/s3/application/usecase/FileOperationsPresignedUrlUseCaseTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-client/src/test/java/de/muenchen/refarch/integration/s3/client/repository/presignedurl/PresignedUrlRestRepositoryTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/java/de/muenchen/refarch/integration/s3/security/RequestResponseLoggingFilter.java
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance, Type: Security
