Repository it-at-m/refarch, pull requests merged in 2025-03, with the labels that each got.

#424 :wrench: Disable PR splitting by subfolders
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Maintenance, Component: Tools

#426 bug/fix navigation
  docs/.vitepress/config.mts
Labels: Type: Bug, Type: Documentation

#427 docs/remove blank lines
  docs/integrations/address.md
  docs/integrations/cosys.md
  docs/integrations/dms.md
  docs/integrations/email.md
  docs/integrations/s3.md
Labels: Type: Documentation

#433 maint/gateway-loca-fix-example-route
  refarch-gateway/src/main/resources/application-local.yml
Labels: Component: API-Gateway, Type: Maintenance

#436 :wrench: Updated dependency review workflow to centralized action
  .github/workflows/dependency-review.yml
Labels: Type: Dependency, Type: Maintenance

#438 :recycle: Refactored PR labeler workflow to use centralized action
  .github/workflows/pr-labeler.yml
Labels: Type: Maintenance

#446 :arrow_up: Upgraded to Keycloak 26.1
  stack/docker-compose.yml
Labels: Type: Maintenance

#453 maint/dms rest api spec v1.1.5
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-rest-api/src/main/api/api-docs.json
Labels: Component: Integrations, Type: Maintenance
