Repository it-at-m/refarch, pull requests merged in 2025-04, with the labels that each got.

#474 Remove spotless limitation
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Maintenance, Component: Tools

#480 :memo: Added documentation for P2 mirror required by Spotless
  docs/templates/develop.md
Labels: Type: Documentation

#479 maint/gateway-refactor-properties-and-document-sso-timeout
  docs/gateway.md
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/SecurityConfiguration.java
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/WebSessionHazelcastConfiguration.java
  refarch-gateway/src/main/resources/application.yml
Labels: Component: API-Gateway, Type: Documentation, Type: Maintenance

#486 Maintenance: Update renovate configuration to allow Camel 4.11.x
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Component: Tools

#490 :memo: Added documentation about actionlint and problem matchers
  docs/templates/develop.md
Labels: Type: Documentation

#495 feat/gateway-public-routes-allow-all-methods
  docs/gateway.md
  refarch-gateway/src/main/java/de/muenchen/refarch/gateway/configuration/SecurityConfiguration.java
Labels: Component: API-Gateway, Type: Documentation, Type: Feature, Type: Security

#500 maint/dms rest bump api spec to 1.2.0
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-rest-api/src/main/api/api-docs.json
Labels: Component: Integrations, Type: Maintenance

#499 :memo: Added small information about bypass list for automerge
  docs/templates/develop.md
  docs/tools.md
Labels: Type: Documentation

#503 :construction_worker: Added workflow to check docker stack health
  .github/workflows/dockercompose-healthcheck.yml
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Maintenance, Component: Tools

#511 test/gateway test routes
  refarch-gateway/pom.xml
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/route/BackendRouteTest.java
  refarch-gateway/src/test/resources/application-test.yml
Labels: Component: API-Gateway

#517 :memo: Added documentation about auto imports for Vuetify
  docs/templates/develop.md
Labels: Type: Documentation

#522 :wrench: Added deprecation warnings and failing of the build when warnings found
  refarch-gateway/pom.xml
  refarch-integrations/pom.xml
  refarch-tools/refarch-java-tools/pom.xml
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance, Component: Tools

#505 refact(ci): use global maven release action
  .github/actions/release-maven/action.yaml
  .github/workflows/release.yml
Labels: Type: Maintenance
