Repository it-at-m/refarch, pull requests merged in 2025-09, with the labels that each got.

#641 Maintenance: Update Renovate configuration to allow Camel 4.14 LTS
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Maintenance, Component: Tools

#642 :wrench: Move lockfile maintenance to shared configuration
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
  renovate.json5
Labels: Type: Maintenance, Component: Tools

#647 removed PR-checklist
  .github/workflows/pr-checklist.yml
  docs/templates/develop.md
  docs/templates/organize.md
Labels: Type: Documentation

#648 :bug: cors config: allow all methods for client routes
  refarch-gateway/src/main/resources/application.yml
Labels: Component: API-Gateway, Type: Bug
