Repository it-at-m/refarch, pull requests merged in 2025-06, with the labels that each got.

#563 Add Podman support 2 Docs
  docs/templates/develop.md
Labels: Type: Documentation

#565 fix(integrations): gen properties metadata
  refarch-gateway/pom.xml
  refarch-integrations/pom.xml
Labels: Component: API-Gateway, Component: Integrations

#568 fix(integrations): pom name
  refarch-integrations/refarch-address-integration/pom.xml
  refarch-integrations/refarch-cosys-integration/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-client/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-core/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-example/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-starter/pom.xml
  refarch-integrations/refarch-dms-integration/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-core/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-example/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-rest-api/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-soap/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-soap/refarch-dms-integration-fabasoft-api/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-soap/refarch-dms-integration-fabasoft-mock-service/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-soap/refarch-dms-integration-fabasoft-mock/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-starter/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-core/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-example/pom.xml
  refarch-integrations/refarch-email-integration/refarch-email-integration-starter/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-java/pom.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/pom.xml
Labels: Component: Integrations

#573 Maintenance: Downgrade Camel version limit to 4.10.x
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Maintenance, Component: Tools
