Repository it-at-m/refarch, pull requests merged in 2025-01, with the labels that each got.

#343 Docs/init gateway
  .github/README.md
  docs/.vitepress/config.mts
  docs/dev/index.md
  docs/dev/stack.md
  docs/dev/tools.md
  docs/gateway.md
  docs/index.md
  docs/overview.md
  refarch-gateway/README.md
Labels: Component: API-Gateway, Type: Documentation

#349 Maint/cleanup poms
  refarch-gateway/pom.xml
  refarch-integrations/refarch-address-integration/refarch-address-integration-client/pom.xml
  refarch-integrations/refarch-cosys-integration/refarch-cosys-integration-client/pom.xml
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-rest-api/pom.xml
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance

#352 :memo: Updated README
  .github/README.md
Labels: Type: Documentation

#348 Docs/init integrations
  docs/.vitepress/config.mts
  docs/integrations/address.md
  docs/integrations/cosys.md
  docs/integrations/dms.md
  docs/integrations/email.md
  docs/integrations/index.md
  docs/integrations/s3.md
  refarch-integrations/README.md
  refarch-integrations/refarch-s3-integration/README.md
Labels: Component: Integrations, Type: Documentation

#354 Maint/353 maintenance add docs linting
  docs/.markdownlint.jsonc
  docs/.markdownlintignore
  docs/.prettierrc
  docs/.vitepress/theme/style.css
  docs/gateway.md
  docs/integrations/address.md
  docs/integrations/cosys.md
  docs/integrations/dms.md
  docs/integrations/email.md
  docs/integrations/index.md
  docs/integrations/s3.md
  docs/overview.md
  docs/package-lock.json
  docs/package.json
Labels: Type: Documentation, Type: Maintenance

#363 :wrench: Added missing metadata to docs package.json
  docs/package-lock.json
  docs/package.json
Labels: Type: Documentation, Type: Maintenance

#366 :memo: docs init tools
  docs/.vitepress/config.mts
  docs/index.md
  docs/tools.md
Labels: Type: Documentation, Component: Tools

#368 :pushpin: Regenerated lockfile
  docs/package-lock.json
Labels: Type: Bug, Type: Documentation

#378 Bug/ci fix release concurrent module prs
  .github/actions/release-maven/action.yaml
Labels: Type: Bug
