Repository it-at-m/refarch, pull requests merged in 2025-02, with the labels that each got.

#388 Enabled bumps for new Camel 4.10 LTS line
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Component: Tools

#389 Bug/fix release ci concurrency
  .github/actions/release-maven/action.yaml
Labels: Type: Bug

#395 bug/fix ci release permissions
  .github/workflows/release.yaml
Labels: Type: Bug

#400 docs/update refarch-templates references
  docs/overview.md
Labels: Type: Documentation

#399 :memo: Updated links, README and CODE_OF_CONDUCT
  .github/CODE_OF_CONDUCT.md
  .github/README.md
  docs/.vitepress/config.mts
  docs/index.md
Labels: Type: Documentation

#407 feat/dms rest update api speac
  refarch-integrations/refarch-dms-integration/refarch-dms-integration-fabasoft-rest-api/src/main/api/api-docs.json
Labels: Component: Integrations, Type: Feature

#410 :wrench: Added configuration for automerging patch level upgrades
  docs/.vitepress/config.mts
  docs/tools.md
  refarch-tools/refarch-renovate/refarch-renovate-config.json5
Labels: Type: Documentation, Type: Maintenance, Component: Tools

#411 Add PR checklist workflow
  .github/workflows/build-integrations.yml
  .github/workflows/codeql.yml
  .github/workflows/dependency-review.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy_docs.yaml
  .github/workflows/maven-node-build.yml
  .github/workflows/pr-checklist.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/release.yml
  .github/workflows/retag-image.yml
Labels: Type: Maintenance

#415 :wrench: Disable finishing touches feature of CodeRabbit
  .coderabbit.yaml
Labels: Type: Bug, Type: Feature

#413 Enable JSON-based logging by default
  docs/gateway.md
  refarch-gateway/src/main/resources/logback-spring.xml
  refarch-gateway/src/test/java/de/muenchen/refarch/gateway/configuration/LogbackJsonLoggingTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/logback-spring.xml
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/test/java/de/muenchen/refarch/integration/s3/configuration/LogbackJsonLoggingTest.java
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/test/resources/logback-test.xml
Labels: Component: API-Gateway, Component: Integrations, Type: Documentation, Type: Maintenance

#417 Update banner configuration to show active profiles
  refarch-gateway/src/main/resources/banner.txt
  refarch-integrations/refarch-s3-integration/refarch-s3-integration-rest/refarch-s3-integration-rest-service/src/main/resources/banner.txt
Labels: Component: API-Gateway, Component: Integrations, Type: Maintenance
